<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User List</title>
    </head>
    <body>
        <h1>User List</h1>
        
        {% if user_list %}
            <div class="userlist">
                <table>
                    <thead>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                    </thead>
                    {% for user in user_list %}
                    <tr>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </body>
</html>