<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>This is your User Records</h1>
        <div class="container">
            {% if user_records %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Last Name</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                {% for user in user_records %}
                <tbody>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                </tbody>
                {% endfor %}
            </table>
            {% endif %}
            
        </div>
        
    </body>
</html>