h1{
    font-family:"Arial";
}

p{
    font-family: 'Shadows Into Light', cursive;
}

/*1em = 16px
2em = 32px*/

body{
    font-size: 20px;
}

#two{
    font-size: 1.2em;
    font-family: 'GrundschriftRegular';
    font-weight: normal;
    font-style: normal;
}

h1{
    text-align: center;
}